body, html {
  background: black;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Hind Madurai', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

body h1, body h2, body h3, body h4, body h5, html h1, html h2, html h3, html h4, html h5 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
}

main {
  height: 100%;
  width: 100vw;
}

.navbar {
  position: fixed;
  width: 99vw;
  margin: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  list-style-type: none;
  padding: 10px;
}

.navbar .active {
  color: #14a76c;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.navbar a:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.navbar .menu-bars {
  position: relative;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: white;
  padding: 15px 25px 15px 25px;
  text-align: center;
}

.navbar .menu-bars i {
  font-size: 24px;
}

.list-div {
  display: none;
  position: fixed;
  background-color: red;
  width: 100%;
  color: black;
  z-index: 10;
  border-bottom: 1px solid white;
  background: black;
}

.list-div .close-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: white;
  padding: 15px 25px 15px 25px;
  text-align: center;
}

.list-div .close-bar i {
  font-size: 24px;
}

.list-div ul {
  margin: 0;
  padding: 0 20px 20px 20px;
}

.list-div li {
  list-style-type: none;
  padding: 10px;
}

.list-div a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.list-div a:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.landing {
  height: 100%;
  width: 100%;
  background: black;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.landing .left {
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .left .title-cont {
  width: 600px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing .left .title-cont span {
  color: white;
  font-size: 4.5rem;
  font-weight: 700;
}

.landing .left .title-cont span.name {
  color: #14a76c;
}

.landing .left .title-cont p {
  color: white;
  text-transform: uppercase;
}

.landing .left .title-cont .description {
  color: white;
}

.landing .right {
  height: 100%;
  width: 40%;
}

section#about {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100vw;
  background-color: black;
  padding: 25px;
}

section#about div#info {
  position: relative;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#about div#info .card {
  position: absolute;
  z-index: 1;
  padding: 20px;
  width: 500px;
  background-color: #060606;
  border-radius: 5px;
  color: white;
}

section#about div#info .card p {
  font-size: 1.3rem;
}

section#about div#info .card span.badge {
  font-size: .8rem;
  text-transform: lowercase;
  background-color: #ff652f;
  margin-right: 4px;
  padding: 4px;
  border-radius: 6px;
}

section#about div#skills {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#about div#skills .card {
  padding: 50px;
  color: white;
  height: 300px;
  width: 300px;
  background-color: black;
  border: 1px solid white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#about div#skills .card small {
  cursor: pointer;
  color: #ff652f;
}

section#education {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

section#education .card {
  padding: 50px;
  background-color: #060606;
  width: 82.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#education .card .card-title {
  width: 100%;
}

section#education .card h3 {
  font-size: 3.5rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

section#education .card .table {
  width: 100%;
}

section#education .card .table td {
  vertical-align: top;
}

section#education .card .table td:first-child {
  width: 275px;
  text-transform: uppercase;
  padding-right: 10px;
}

section#education .card .table td:first-child h2 {
  font-weight: bold;
}

section#education .card .table h1 {
  font-size: 2.4rem;
  font-weight: 400;
}

section#education .card .table h2 {
  font-size: 1.6rem;
  font-weight: lighter;
}

section#education .card .table h3 {
  font-size: 1.1rem;
  font-weight: lighter;
}

section#education .card button {
  padding: 10px;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

section#education .card button:hover {
  border: 2px solid #66fcf1;
  color: #66fcf1;
}

section#contact {
  position: relative;
  background: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

section#contact .container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 800px;
  position: relative;
}

section#contact .container img {
  height: 200px;
  width: 200px;
  z-index: 2;
  border-radius: 100%;
}

section#contact .container div#container {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 1;
}

section#contact .container div#info-cont {
  text-align: center;
  z-index: 2;
}

section#contact .container div#info-cont h2 {
  font-size: 2.3rem;
}

section#contact .container div#info-cont h3 {
  font-weight: lighter;
}

section#contact .container div#info-cont div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#contact .container div#info-cont div .info-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#contact .container div#info-cont div .info-detail span {
  padding: 2px;
}

section#contact .container div#info-cont div .info-detail .pr-2 {
  padding-right: 8px;
}

section#contact .container div.socmed {
  width: 125px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#contact .container div.socmed i {
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

section#contact .container div.socmed #facebook:hover {
  color: #4267B2;
}

section#contact .container div.socmed #twitter:hover {
  color: #1DA1F2;
}

section#contact .container div.socmed #insta:hover {
  color: #8a3ab9;
}

section#contact .container div.socmed #linkedin:hover {
  color: #0e76a8;
}

.t-second {
  color: #14a76c;
}

.t-third {
  color: #ff652f;
}

.t-fourth {
  color: #66fcf1;
}

@media only screen and (max-width: 1024px) {
  main .navbar {
    width: 100vw;
  }
  main .navbar .nav-list {
    display: none;
  }
  main .navbar .menu-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .landing {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    position: relative;
  }
  main .landing .title-cont {
    width: 400px !important;
  }
  main .landing .left {
    width: 100%;
    padding: 25px;
  }
  main .landing .left span {
    font-size: 2.5rem !important;
  }
  main .landing .right {
    position: absolute;
    width: 100%;
  }
  section#about {
    padding: 0 !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: auto !important;
    padding-bottom: 50px !important;
  }
  section#about div#info {
    width: 100%;
  }
  section#about div#info .card {
    position: static;
    width: 80vw;
  }
  section#about div#info canvas {
    display: none;
  }
  section#about div#skills {
    width: 100%;
  }
  section#about div#skills .card {
    height: 200px;
    width: 200px;
  }
  section#education .card h3.work-desc {
    display: none;
  }
  section#education .card h3 {
    font-size: 2.3rem;
  }
  section#education .card .table td:first-child {
    width: auto;
  }
  section#education .card .table h2 {
    font-size: 1.3rem;
  }
  section#education .card .table h3 {
    font-size: .9rem;
  }
  section#contact {
    margin: 0;
  }
  section#contact .container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  section#contact .container div#info-cont div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#contact .container div#info-cont div .info-detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section#contact .container div#info-cont h2 {
    font-size: 1.5rem !important;
  }
  section#contact .container div#info-cont div.socmed {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=index.css.map */